ul{
    width: 100vw;
  
    display: flex;
    list-style-type: none;
    
    border-radius: 10px;
    box-shadow: 0px 5px 10px  rgb(209, 203, 203);
}
li{
    margin: 10px;
   
    padding: 5px;

}
li:hover{
    background-color: rgb(225, 232, 40);
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor:grab;
}
@media(width<310px){
    ul{
       
        flex-direction: column;
        overflow: hidden;
    }
}